@import "./utils/variables";

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	background-color: #fff;
		font-size: 2rem;
	@media screen and (min-width: 1024px) {
	}
}

main {
	@media screen and (min-width: 1024px) {
/*		width: 80%;
		margin: 0 auto;*/
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		
	}
}

footer {
	margin-top: 1%;
}

h1, h2 {
	color: $primary;
	text-align: center;
}

ul {
	margin: 0;
	list-style: none;
	padding-left: -40px;
}

img {
	max-width: 100%; /* les images prennent au maximum la largeur de l'Ã©lÃ©ment parent */
	margin: auto;
}

/* Header & Footer */

#presentationL {
	text-align: center;
	a:nth-of-type(2) {
		display: none;
	}
	@media screen and (min-width: 1024px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		img {
			width: 80%;
		}
		h1 {
			font-size: 5rem;
		}
		a:nth-of-type(2) {
			display: block;
		}
	}
}

/* Mise en forme des navigation */

#topnav {

	background-color: $primary;

	& img {
		display: none;
	}

	& a {
		display: flex;
	}

	@media screen and (min-width: 1024px) {
		width: 20%;
		@include bordering;
		padding-bottom: 1%;
		& #topmenu #menu {
			display: none;
		}

		& a {
			margin-top: 1rem;
		}
		img {
			display: block;
			width: 80%;
			border-radius: 5px;
		}
	}
}

#bottomnav {
	background-color: $primary;
	ul {
		display: flex;
		justify-content: space-around;
	}

	@media screen and (min-width: 1024px) {
		font-size: 2rem;
		padding: 1% 0;
	}
}

/* Page Index */

#home {
	padding: 0 2% 1%;
	@media (min-width: 1024px) {
	@include bordering;
	margin: 3%;
		margin: 0;
		width: 50%;
	}
}

#news {
	display: none;

	@media screen and (min-width: 1024px) {
		display: block;
		background-color: $primary;
		@include bordering;
		width: 20%;
	}
}