@import "./utils/variables";
@import "./utils/fonts";

html {
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #fff;
	font-family: 'Gotham';
	font-size: 5rem;
	@media screen and (min-width: 1024px) {
		font-size: 2rem;
	}
}

#main {
	@media screen and (min-width: 1024px) {
/*		width: 80%;
		margin: 0 auto;*/
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		
	}
}

footer {
	margin-top: 1%;
}

h1, h2 {
	margin: 0;
	color: $primary;
	text-align: center;
	font-size: 8rem;
}

h2 {
	@media screen and (min-width: 1024px) {
		font-size: 4rem;
	}
}

ul {
	margin: 0;
	list-style: none;
	padding-left: -40px;
}

a {
	text-decoration: none;
	color: #000;
}

img {
	max-width: 100%; /* les images prennent au maximum la largeur de l'Ã©lÃ©ment parent */
	margin: auto;
}

/* Header & Footer */

#presentationL {
	text-align: center;
	a:nth-of-type(2) {
		display: none;
	}
	@media screen and (min-width: 1024px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		img {
			width: 80%;
		}
		h1 {
			font-size: 5rem;
		}
		a:nth-of-type(2) {
			display: block;
		}
	}
}

/* Mise en forme des navigation */

#topnav {

	background-color: $primary;

	& img {
		display: none;
	}

	& a {
		display: flex;
	}

	@media screen and (min-width: 1024px) {
		width: 20%;
		@include bordering;
		padding-bottom: 1%;
		& #topmenu #menu {
			display: none;
		}

		& a {
			margin-top: 1rem;
			font-size: 3rem;
		}
		img {
			display: block;
			width: 80%;
			border-radius: 5px;
		}
	}
}

#backnav {
	background-color: $primary;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

#bottomnav {
	background-color: $primary;
	ul {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
	}

	@media screen and (min-width: 1024px) {
		font-size: 2rem;
		padding: 1% 0;

		ul {
			flex-direction: row;
		}
	}
}

/* Page Index */

#home {
	@include bordering;
	padding: 0 2% 1%;
	margin: 3%;

	ul {
		list-style: disc;

		ul {
			list-style: square;
		}
	}

	@media (min-width: 1024px) {
	margin: 3%;
		margin: 0;
		width: 50%;
	}
}

#news {
	display: none;

	@media screen and (min-width: 1024px) {
		display: block;
		background-color: $primary;
		@include bordering;
		width: 20%;
		h2 {
			font-size: 3rem;
		}
	}
}

/* Page Contact */

.contact form {
	@media screen and (min-width: 1024px) {
		width: 80%;
		margin: auto;
	}
}

.contact fieldset {
	border-radius: 5px;
}

.contact form label:after {
	content: " ";
	display: block;
}

.contact form input,
.contact form textarea {
	width: 90%;
	border-radius: 5px;
}

.contact form button {
	padding: 2%;
    border-radius: 5px;
    background-color: $primary;
    color: #fff;
	@media screen and (min-width: 768px) { 
		margin: 1% auto;
	}
}