<footer>
	<nav id="bottomnav">
		<ul>
			<li><a href="#">Accueil</a></li>
			<li><a href="#">Actualités</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Liens</a></li>
			<li><a href="#">Mentions Légales</a></li>
		</ul>
	</nav>

	<p>Conception et Réalisation: <a href="https://www.larrun-prod.com">Larrun-Prod</a></p>
	
</footer>