<footer>
	{% if user is defined %}
		{{include('upnav.html.twig')}}

	{% else %}

	<nav id="bottomnav">
		<ul>
			<li><a href="#">Accueil</a></li>
			<li><a href="#">Actualités</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Liens</a></li>
			<li><a href="#">Mentions Légales</a></li>
		</ul>
	</nav>

	{% endif %}

	<p>Conception et Réalisation: <a href="https://www.larrun-prod.com">Larrun-Prod</a></p>
	
</footer>