<header>
	<aside id="presentationL" >
		<a href="{{path('app_home')}}"><img class="logo" src="{{asset('img/logo.jpg')}}" alt="logo de la société AC-MB représentant un éléphant bleu"></a>
		<h1>Assistance Conseil - Maud Berthier</h1>
		<a href="{{path('app_home')}}"><img class="logo" src="{{asset('img/logo.jpg')}}" alt="logo de la société AC-MB représentant un éléphant bleu"></a>
	</aside>
	<nav>
		barre de navigation haute
	</nav>
</header>