{% extends 'base.html.twig' %}

{% block title %}Administration du site{% endblock %}

{% block main %}
<h1>Interface d'administration</h1>
<p>Bonjour,</p>
<p>Ceci est votre page d'accueil.</p>
{% endblock %}
